.about {
  background: url("/bg.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

.about .text-gray-500, .about .text-indigo-500, .about nav .text-indigo-600 {
  color: white;
}

.about>.bg-gray-100, .about>div>.bg-white {
  background-color: transparent;
}

.about a:hover {
  color: #999;
}